.drop_down {
    width: 420px;
    padding: 20px 0 0;
    border: 1px solid black;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
  
.drop_down_button {
    border-radius: 10px;
    border: none;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    background-color: #92B5DF;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    margin-bottom: 20px;
}

.drop_down_menu {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #374D5C;
    color: white;
    border-radius: 0 0 10px 10px;
}