.painting_list{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 0;
}

.card_picture{
    background-color: #374D5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.author_tag{
    color: #92B5DF;
    text-decoration: none;
}

.button_cart{
    background-color: #92B5DF;
    border-radius: 10px;
    padding: 10px 20px;
    border: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    transition: .4s;
}

.button_cart:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}