.form_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 418px;
    padding: 30px;
    border: 1px solid #374D5C;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    gap: 15px;
}

.submit_btn{
    width: 200px;
    border: none;
    padding: 10px 15px;
    background-color: #92B5DF;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
}

.submit_btn:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}

.label_text{
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    color: #374D5C;
    display: flex; 
    gap: 10px;
}

.input_place{
    border: 1px #374D5C solid;
    border-radius: 10px;
    font-size: 18px;
    font-family: monospace;
    color: #374D5C;
    padding: 5px 10px;
}