.wrap {
    max-width: 400px;
    padding: 20px 10px;
    border: 2px solid #2A3563;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}
  
.title {
    font-size: 28px;
    font-weight: 400;
    font-family: Inter;
    text-align: center;
    margin: 0;
    color: #2A3563;
}

.btn_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.count_button {
    border: none;
    padding: 10px 20px;
    width: 110px;
    background-color: #EC9B3C;
    color: #2A3563;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
}
  
.count_button:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
  
.change_number {
    font-size: 64px;
    font-family: Inter;
    text-align: center;
    color: #2A3563;
}