.btn_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    border: 1px #2A3563 solid;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
}

.text{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: center;
    color: #2A3563;
}

.input{
    border: 1px #2A3563 solid;
    border-radius: 10px;
    font-size: 18px;
    font-family: Inter;
    color: #2A3563;
    padding: 10px 15px;
    width: 168px;
}

.btn_focus{
    width: 200px;
    border: none;
    padding: 10px 15px;
    background-color: #EC9B3C;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
}

.btn_focus:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}