.form_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    padding: 30px;
    border: 2px solid #2A3563;
    text-align: center;
    margin: 20px auto 0;
    border-radius: 10px;
    gap: 15px;
}

.submit_btn{
    width: 200px;
    border: none;
    padding: 10px 15px;
    background-color: #2A3563;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.submit_btn:hover {
    background-color: #EC9B3C;
}

.submit_btn:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}

.label_text{
    font-size: 24px;
    font-family: Inter;
    text-align: center;
    color: #2A3563;
    display: flex; 
    gap: 10px;
}

.input_place{
    border: 1px #2A3563 solid;
    border-radius: 5px;
    font-size: 18px;
    font-family: Inter;
    color: #2A3563;
    padding: 10px 15px;
}