.lifeCycle_div{
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2A3563;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
}

.submit_btn{
    width: 200px;
    border: none;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #2A3563;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
}

.submit_btn:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}

.number_value{
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: center;
    color: #2A3563;
    margin: 0;
}