.submit_btn{
    width: 200px;
    border: none;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #92B5DF;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
}

.submit_btn:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}